<header class="main-header" th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container header-container">
        <a href="/" class="logo">
            <img th:src="@{/img/mverse-logo.png}" alt="MovieVerse">
        </a>

        <nav class="main-nav" id="main-nav">

            <div class="search-container">
                <div class="search-box">
                    <i class="bi bi-search"></i>
                    <input type="text" id="search-input" placeholder="Busca por título...">
                </div>

                <div id="search-results" class="search-results hidden"></div>
            </div>

            <a th:href="@{/peliculas}">Películas</a>
            <a th:href="@{/series}">Series</a>

            <!-- NO logueado -->
            <a sec:authorize="!isAuthenticated()" href="/login" class="btn-user">
                <i class="bi bi-person"></i> Login
            </a>

            <!-- Logueado -->
            <div sec:authorize="isAuthenticated()" class="user-dropdown">
                <span class="user-name">
                    <i class="bi bi-person-circle"></i>
                    <span sec:authentication="name"></span>
                    <i class="bi bi-chevron-down"></i>
                </span>

                <div class="dropdown-content">

                    <a th:href="@{/perfil}" class="dropdown-item btn-logout">
                        <i class="bi bi-person"></i> Mi perfil
                    </a>

                    <!-- Dashboard (solo ADMIN y MODERATOR) -->
                    <a sec:authorize="hasAnyRole('ADMIN','MODERATOR')"
                       th:href="@{/dashboard}"
                       class="dropdown-item btn-logout">
                        <i class="bi bi-speedometer2"></i> Dashboard
                    </a>

                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn-logout">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>

                </div>

        </nav>

        <button class="burger" id="burger-btn" aria-label="Abrir menú">
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>

</header>