<header class="main-header" th:fragment="header">

    <div class="container header-container">
    <a href="/" class="logo">
            <img src="/img/mverse-logo.png" alt="MovieVerse">
        </a>

        <nav class="main-nav" id="main-nav">
            <div class="search-container">
                <div class="search-box">
                    <i class="bi bi-search"></i>
                    <input type="text" id="search-input" placeholder="Busca por título...">
                </div>

                <div id="search-results" class="search-results hidden"></div>
            </div>
            <a href="/peliculas">Películas</a>
            <a href="/series">Series</a>
            <a href="/tendencias">Tendencias</a>
            <a href="/estrenos">Próximos estrenos</a>
        </nav>

        <button class="burger" id="burger-btn" aria-label="Abrir menú">
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>

</header>